html {
  background-color: #ffffff;
  font-family: Arial, Helvetica, serif;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;	
}

ul.nav {
  list-style-type: none;
  overflow: hidden;
  background-color: #ff54a5;
  font-family: Arial, Helvetica, serif;
}

li{
  font-family: Arial, Helvetica, serif;
  font-size: 95%;
  color: #828282;
}

li.nav {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  padding:1% 1% 1% 1%;
  margin: 3% 0% 3% 0%;
  color:#ffffff;
  font-size:120%;
  float: left;
}

section{
  border: 1px solid black;
  background-color: #ffe8f3;
  padding-top: 5%;
  padding-right: 3%;
  padding-bottom: 5%;
  padding-left: 8%;
}


h1 {
  font-family: Arial, Helvetica, serif;
  color: #000000;
  font-size: 300%;
  font-weight: bold;
  margin: 1% 0% 1% 0%;
}

h3{
  font-family: Arial, Helvetica, serif;
  color: #000000;
  font-size: 130%;
  font-weight: bold;
  margin: 1% 0% 1% 0%;
}

h4{
  font-family: Arial, Helvetica, serif;
  color: #000000;
  font-size: 100%;
  font-weight: bold;
  margin: 8% 0% 1% 0%;
}

h5{
  font-family: Arial, Helvetica, serif;
  color: #000000;
  font-size: 100%;
  font-weight: normal;
  margin: 2% 0% 1% 0%;
}

p.lylics{
  font-family: Arial, Helvetica, serif;
  text-align: left;
  color: #828282;
  font-size: 110%;
  margin: 5% 0% 5% 0%;
  white-space: pre-line;
}

span.p_first{
  font-size: 250%;
  color: #ff54a5;
  
}

p.intro{
  text-align: center;
  font-size: 100%;
  margin: 10%;
  white-space: pre-line;
}

#musicvideo{
  width: 728px; 
  height: 409px;
}
